import json
from typing import Any
from pydantic import BaseModel
from starlette.responses import JSONResponse

{% for resource in resources %}
{{ resource.name|upper }}_NOT_FOUND_BODY = {
    "error_code": 404,
    "error_source": 'Requested {{ resource.name|lower}} does not exist.',
    "error_reason": 'NONEXISTENT_RESOURCE'
}
{% endfor %}

GENERIC_SUCCESS_STATUS_BODY = {
    'code': 200,
    'message': 'Operation was completed successfully.'
}

CREATE_GENERIC_SUCCESS_STATUS_BODY = {
    'code': 201,
    'message': 'Operation was completed successfully.'
}

class GenericSuccess(BaseModel):
    code: int
    message: str

def get_error_body(code, source, reason):
    return {
        "error_code": code,
        "error_source": source,
        "error_reason": reason
    }


class JsonResponse(JSONResponse):
    def render(self, content: Any) -> bytes:
        return json.dumps(content, default=str).encode()